* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
}

:root {
  --primary-color: #ff4d4d; /* Vermelho */
  --secondary-color: #000; /* Preto */
  --background-color: #ffffff; /* Branco */
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--secondary-color);
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/App.css */

.filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.filter {
  flex: 1;
  margin: 0 10px;
}

select,
.react-datepicker-wrapper {
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.PlotlyGrid {
  margin-top: 30px;
  color: var(--secondary-color)
}

/* src/App.css */

body {
  margin: 0;
  padding: 0;
  background-color: #19a6e7;
}

label {
  display: block;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

select,
.react-datepicker-wrapper {
  font-size: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

select {
  color: #333;
  background-color: #fff;
}

.react-datepicker__input-container input {
  width: 100%;
  color: #333;
  background-color: var(--background-color);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

/* HEADER + LOGO */

.logo {
  max-width: 180px;
  margin-right: 20px;
}